# ignore all files
*

# allow base directories
!/srcs/
!/srcs/frontend/
!/srcs/backend/
!/srcs/nginx/
!/srcs/database/

# allow source directories
!/srcs/frontend/src/
!/srcs/frontend/public/
!/srcs/frontend/src/**/
!/srcs/backend/src/
!/srcs/backend/src/**/
!/srcs/nginx/config/
!/srcs/nginx/conifg/**/

# allow files inside allowed dirs
!/srcs/**/*.ts
!/srcs/**/*.tsx
!/srcs/**/*.js
!/srcs/**/*.json
!/srcs/**/*.html
!/srcs/**/*.css
!/srcs/**/*.svg
!/srcs/**/*.conf
!/srcs/**/*.sh

# allow infra files
!**/Dockerfile
!**/docker-compose.yml
!**/Makefile
!**/README.md
!**/.gitignore
!**/.dockerignore

# explicitly ignore secrets
**/secrets/
**/*.env
**/*.key
**/*.crt

